
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ form }}
        </div>
    </div>
</div>
<hr/>
 
{% if tags %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">{{ description }}</div>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ 'Username'|t }}</th>
                    <th>{{ 'Email'|t }}</th>
                    <th>{{ 'Class Subject'|t }}</th>
                    <th>{{ 'Class Topic'|t }}</th>
                    <th>{{ 'Class Timeslot'|t }}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in tags %}
                        <tr>
                            <td>{{ row.get('title').value }}</td>
                            <td>{{ row.get('field_email').value }}</td>
                            <td>{{ row.get('field_class_subject').value }}</td>
                            <td>{{ row.get('field_class_topic').value }}</td>
                            <td>{{ row.get('field_class_timeslot').value }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}